.section, .panel{
  background-color: #31007a;
}
.text{
	background-color: #400599;
}
.link {
	background-color: #a275dc;

}
.link:hover {
  background-color: #400595;
}
.super-link {
  padding: 1px 1px;
  box-shadow: 1px 5px 5px #31007a;
}
a, p, h1, h2, h3 {
  color: lightgrey;
}